@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";

@layer base {
  :root {
    --color-primary: #181c31;
    --color-secondary: #79808a;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Inter, sans-serif;
    color: #79808a;
  }
  a {
    color: inherit;
  }
  p {
    color: #79808a;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Outfit, sans-serif;
    color: #181c31;
  }
}
@layer components {
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  /* Dropdown menu styling */
  .dropdown {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    z-index: 10;
    margin-top: 0.5rem;
  }
  .dropdown.flex {
    display: flex !important;
  }
  .dropdown li {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #f0f0f0;
  }
  .dropdown li:last-child {
    border-bottom: none;
  }
  .dropdown a {
    color: #79808a;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
  }
  .dropdown a:hover {
    color: #4e6bff;
  }
}
.project-item p {
  color: #79808a;
}
.project-item svg.fill-body {
  fill: #79808a;
}
.project-item svg.group-hover\:fill-white:hover {
  fill: white !important;
}

@layer utilities {
  @keyframes ud-rotating {
    0%,
    100% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  .animate-ud-rotating {
    animation: ud-rotating 30s linear infinite;
  }
  .project-sizer {
    width: 100%;
    @media (width >= 48rem) {
      width: calc(1 / 2 * 100%);
    }
    @media (width >= 64rem) {
      width: calc(1 / 3 * 100%);
    }
  }

  .hover\:shadow-2 {
    &:hover {
      @media (hover: hover) {
        --tw-shadow: 0px 6px 90px var(--tw-shadow-color, rgba(8, 14, 40, 0.04));
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
          var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
      }
    }
  }
}

/* swiper */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
